__pycache__
build
*.egg-info
checkpoints
*.out
*.o
*.zip
*.so
data

models/*
datasets/TartanAir.pickle
datasets/TartanAir
TartanAirResults
ORBvoc.txt

results/*
weight/*

thirdparty
runs
logs
*.pickle

config/cache
config/codex.sqlite3
config/hypercorn.toml
config/secret_key